data/realnewslike/c4-*.json
web/node_modules
web/package-lock.json
data/db/*.db
__pycache__
*.dll
*.o
.vscode
data/.DS_Store
data/db/.DS_Store
web/.DS_Store
.DS_Store
backend/.DS_Store
backend/.DS_Store
